body {
    background-color: #f4cc70;
}

.intro-name {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 50px;
  color: #20948b;
}

h2 {
  color: #20948b;
}

h3 {
  color: #6ab187;
}

.modal-content {
    background-color: #b7b8b6;
}

.logo {
  font-size: 100px;
  color: #20948b;
}

.portifolio-description {
  margin: 10px 15px 0 0;
  color: #20948b;
  font-size: 20px;
}

@media screen and (max-width: 985px) {

  .container {
    width: 100%;
    margin: 0 auto;
  }


  .small-img {
    width: 100%;
  }

  .img-responsive {
      width: 100%;
  }

  .intro-name {
    margin-top: 10px;
  }
}


@media screen and (min-width: 315px) and (max-width: 600px) {

  h1 {
    font-size: 22px;
  }

  h3 {
    font-size: 20px;
  }

  .logo {
    font-size: 70px;
    margin-top: 10px;
  }

}
